.pppp{
    position: relative;
    top: -375px;
    margin-left: 8rem;
    z-index: 10;
    font-size: 3rem;
    font-weight: 300;
    /* margin: 20px; */
    color: #fff;

}
.boot{
    position: relative;
    margin-left: 8rem;
    top:-300px;
    z-index: 1;
}
.boot:hover{
    background-color: black;
}
@media only screen and (max-width: 600px) {
    .pppp{
        font-size: 2rem;
    }
  }