.lorem{
    display: flex;
    flex-wrap: wrap;
}
p{
    font-size: 30px;
}
.i{
    width: 150px;
    height:50px;
    margin: 2rem;
}
.main{
    padding:10px 70px 10px 70px;
}
.a{
    font-size: 1rem;
}